<!DOCTYPE html>
	<html prefix="og: http://ogp.me/ns#">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta prefix="og: http://ogp.me/ns#" property="og:title" content="Walter Blair Personal Blog" />
			<meta prefix="og: http://ogp.me/ns#" property="og:type" content="profile" />
			<meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://waltermblair.github.io/" />
			<meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://waltermblair.github.io/hawk.jpg" />
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:wmblair@cofc.edu">email</a></li>
	        		<li>Thanks to <a href="http://jmcglone.com/guides/github-pages/">http://jmcglone.com/guides/github-pages/</a> for the tutorial!</li>
				<li><a href="http://waltermblair.github.io/atom.xml">RSS</a></li>
				</ul>
			</footer>
		</body>
	</html>
